footer {
	width: 100%;
	margin-top: 100px;
	background-color: #3d0e3d;
	height: 30vh;
	text-align: center;
	span {
		text-align: center;
		font-family: 'Jost', sans-serif;
		font-weight: 300;
		font-size: 0.9rem;
		color: rosybrown;
	}
	.container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
		max-width: 1300px;
		height: 80%;
		margin: auto;
        color: rosybrown;
        @include responsive {
            
        }

		.column {
			&__logo_box {
                width: 25%;
                @include responsive {
                    width: 50%;
                    margin: auto;
                        }
                
                img{
                    margin-top: 50px;
                    width: 150px;
                }
            }
            &__socmedia_box{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                @include responsive {
                    width: 100%;
                    margin: auto;
                        }
                svg{
                fill:#6d316d;
                }
            }
			&__contact {
                
    
				width: 25%;
				
				line-height: 0.5;
                text-align: left;
                @include responsive {
            width: 50%;
            margin: auto;
                }
				
				a {
					color: rosybrown;
					font-family: 'Jost', sans-serif;
					letter-spacing: 1px;
					font-weight: 300;
				}
				h2 {
                    margin-top: 0;
                padding: 0;
					letter-spacing: 3px;
					font-size: 1.5rem;
					font-family: 'Jost', sans-serif;
					font-weight: 300;
					padding-bottom: 30px;
					
				}
				h4 {
					font-family: 'Jost', sans-serif;
					letter-spacing: 1px;
					font-weight: 300;
				}
			}
		}
	}
}
