.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	max-width: 1300px;
	min-width: 200px;
	box-shadow: 0px 19px 29px 0px rgba(87, 37, 87, 0.75);
	margin: 30px auto 20px;

	@include responsive {
		max-width: 80%;
	}

	a {
		color: plum;
		cursor: pointer;
		font-weight: 500;
		letter-spacing: 3px;
		text-decoration: none;
	}
	#prisijungti {
		@include responsive {
			display: none;
		}
	}
	
	.hamburger {
		display: none;
		
		

		@include responsive {
			display: block;
			outline: none;
		}
	}
	svg {
		text-align: center;
		fill: plum;
		@include responsive {
			display: none;
		}
	}
}
.socmedia {
	display: flex;
	justify-content: center;
	margin: 0 0 50px;
	img{
		width: 120px;
	}
	&__icon {
		// z-index: 30;
		background-color: none;
		margin: 20px;
		width: 40px;
		height: 40px;
		&--fillchange {
			fill: rgb(58, 12, 54);
		}
	}
}
#home_menu {
	@include responsive {
		display: none;
	}
	.nav {
		&__list {
			margin: 15px auto;
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			max-width: 900px;
		}
		&__item {
			list-style: none;
			
		}
		&__link {
			
			color: rosybrown;
			font-weight: 700;
			text-decoration: none;
			letter-spacing: 2px;
			font-size: 13px;
			padding: 13px;

			&:hover {
				border-bottom: 4px solid plum;
			}
		}
	}
}
#slide_menu {
    
	position: fixed;
	height: auto;
	width: 0;
	z-index: 1;
	overflow: hidden;
	top: 0;
	left: 0;
	transition: all 0.5s;
	box-shadow: 18px 19px 29px 6px rgba(87, 37, 87, 0.75);

	background-color: rgb(49, 2, 68);
	// width: 100vw;

	#slide_menu_close_btn {
		padding: 1rem;
		margin: 30px 0 0 60px;
		outline: none;
	}
	.nav {
        padding-bottom: 50px;
		&__list {
			padding: 0;
			margin: 0;
		}

		&__item {
			list-style: none;
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			text-align: center;
		}
		&__link {
			
			margin: 1rem 0;
			padding: 1rem;
			color: rosybrown;
			font-weight: 700;
			text-decoration: none;
			letter-spacing: 2px;
			font-size: 16px;
			transition: all 0.5s;
			&:hover {
                background-color: rgb(78, 17, 109);
                
            }
		}
	}
}
